.message{
  display: flex;
  margin-top: .7rem;

  &:hover .menu{
    display: inline-block;
  }

  .leftSide{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
  }

  .avatar{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 0 .6rem .5rem .5rem;
  }

  .time{
    font-size: .7rem;
    font-weight: 100;
    margin-right: .5rem;
    color: rgba(255, 255, 255, .7);
  }

  .body{
    width: 100%;
    padding: .5rem;
    background-color: rgba(0, 255, 186, 0.1);
    border-radius: 5px;
  }

  .messageHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
  }

  .text{
    font-weight: 200;
    font-size: 1rem;
    line-height: 1.4;
  }

  .menu{
    display: none;
    font-size: 1rem;
    cursor: pointer;
  }
}

.message_reverse{
  //margin-left: 3.5rem;
  .avatar{
    //display: none;
    opacity: 0;
  }

  .body{
    background-color: #565656;
  }

  .head{
    //flex-direction: row-reverse;
  }
}