.showMore {
  margin-bottom: 2rem;
  height: 3rem;
  background: rgba(255, 255, 255, .4);
  border-radius: 8px;
  font-size: 1.3rem;
  font-weight: 200;
  border: none;
  transition: .3s ease;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 1);
  }
}