.item {
  width: 100%;
  height: 3rem;
  border: 1px solid rgba(255, 255, 255, .1);
  margin-bottom: .5rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, .07);
  display: flex;
  align-items: center;
  padding: 0 .8rem;
  transition: .3s ease-out;

    &:hover {
      background: rgba(255, 255, 255, .1);
    }

  .body {
    flex: 1;
    display: flex;
    align-items: center;
    //justify-content: space-between;


    .sort {
      color: #f6c7aa;
    }
  }

  .img {
    width: 2rem;
    border-radius: 5px;
    margin-right: 1rem;
  }

  .roomName {
    width: 11.5rem;
    margin-right: 1rem;
    text-align: center;
    cursor: pointer;
    //color: #f6c7aa;
  }

  .roomSize {
    width: 6rem;
    margin-right: 1rem;
    text-align: center;
    cursor: pointer;
  }

  .startBid {
    width: 6rem;
    margin-right: 1rem;
    text-align: center;
    cursor: pointer;
  }

  .status {
    width: 5rem;
    text-align: center;
    cursor: pointer;
  }

  .bid {
    width: 5rem;
    text-align: center;
    margin-right: 1rem;
    cursor: pointer;
  }

  .value {
    font-weight: 400;
    color: aqua;
  }

  .join {
    flex: 0 0 8%;
    margin-left: 1rem;
    background: rgba(255, 255, 255, .1);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, .2);
    color: white;
    font-weight: 100;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

