.userInfo {
  display: flex;
  margin-bottom: 2rem;
  flex-wrap: nowrap;
  flex-direction: row;

  .avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 8px;
    margin-right: .7rem;
    cursor: pointer;
  }

  .body {
    display: flex;
    flex-direction: column;
    width: 100%;

    .head {
      display: flex;
      justify-content: space-between;
      position: relative;

      .username {
        font-size: 1.4rem;
        margin-bottom: .5rem;
        cursor: pointer;
      }

      .logoutIcon {
        cursor: pointer;
      }

      .confirm{
        position: absolute;
        cursor: pointer;
        background: rgba(255, 0, 0, .3);
        width: 2rem;
        height: 1.5rem;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: .5rem;
        right: 0;
        top: 2rem;
        border: 1px solid rgba(255, 255, 255, .1);
        transition: .3s ease;

        &:hover{
          background: rgba(255, 0, 0, .5);
        }
      }

      .cancel{
        position: absolute;
        cursor: pointer;
        background: rgba(0, 255, 0, .3);
        width: 2rem;
        height: 1.5rem;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
        border: 1px solid rgba(255, 255, 255, .1);
        transition: .3s ease;

        &:hover{
          background: rgba(0, 255, 0, .5);
        }
      }

      .icon{
        color: rgba(255, 255, 255, .8);
        font-size: 1rem;
      }
    }
  }

  .items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .item {
      display: flex;
      align-items: center;
      margin-top: .5rem;

      .scale {
        margin-left: 1rem;
        width: 100%;
      }
    }
  }
}










