.gameHistory {
  position: relative;
  flex: 1;
  min-width: 20rem;
  max-height: 10.5rem;
  overflow-y: auto;
  padding: 0 1rem;
  border-left: 1px solid rgba(255, 255, 255, .1);

  &:before{  // TODO: finish this resizing
    position: absolute;
    content: "";
    height: 100%;
    width: 6px;
    //background-color: #1b6ec2;
    left: 0;
  }
  &:hover:before{
    cursor: col-resize;
  }
}