.head {
  margin-bottom: .8rem;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, .1);
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .title {
    font-size: 2rem;
  }

  .clear {
    cursor: pointer;
    transition: .5s ease;
    font-size: 2rem;
  }

  .clear_text {
    display: none;
    font-weight: 200;
    font-size: 1rem;
    position: absolute;
    right: 27px;
    //opacity: 0;
    transition: .5s ease;
    //margin-left: 0;
  }
}





