.item {
  display: flex;
  align-items: center;
  padding: .4rem;
  font-size: 1rem;
  font-weight: 100;
  background-color: rgba(255, 228, 181, 0.05);
  border-radius: 7px;
  margin-bottom: .4rem;
  position: relative;
  cursor: pointer;
  transition: .3s ease;

  &:hover {
    background-color: rgba(255, 228, 181, 0.1);
  }

  .iconLeader {
    font-size: 1rem;
    color: goldenrod;
    margin-right: .5rem;
  }

  .iconReadiness {
    position: absolute;
    font-size: 1.2rem;
    right: .5rem;
  }
}