.settings {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 0;

  .body {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;

    .rangesBlock {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .rangeItem {
        display: grid;
        grid-template-columns: 1.1fr 1fr 1fr;
        margin-bottom: .5rem;
        color: #c4c4c4;
        font-weight: 100;

        .input {
          margin-right: 1rem;
        }

        .value {
          font-weight: 400;
          color: aqua;
        }
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      margin-left: 1rem;

      .button {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: none;

        &.low {
          background-color: rgba(0, 255, 0, .7);
        }

        &.medium {
          background-color: rgba(255, 234, 0, 0.7);
        }

        &.high {
          background-color: rgba(255, 0, 0, .7);
        }
      }
    }
  }

  .roomNameBlock {
    display: flex;
    margin-bottom: 1.5rem;
    align-items: center;
    justify-content: center;

    .roomLabel {
      margin-right: 1rem;
      font-weight: 700;
      font-size: 1.2rem;
    }

    .roomNameInput {
      height: 1.3rem;
      background: transparent;
      color: #f6c7aa;
      border: none;
      //border-bottom: rgba(255, 255, 255, .1);
      outline: none;
    }
  }

  .createRoom {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .4);
    border: none;
    transition: .3s ease-in;

    &:hover {
      background-color: rgba(255, 255, 255, .8);
    }
  }
}

