.button {
  box-shadow: 1px 1px 8px 3px rgba(255, 255, 255, .2);
  border: none;
  height: 2rem;
  width: 9rem;
  border-radius: 10px;
  background: linear-gradient(45deg, aqua, white, aqua);
  transition: .3s ease;
  font-size: 1.2rem;

  &:hover {
    box-shadow: none;
  }

  &:active {
    box-shadow: none;
    height: calc(2rem - 2%);
    width: calc(9rem - 2%);
    font-size: calc(1.2rem - 2%);
  }
}